@import 'universal-styles/colors';

.task-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-2-snackbar {
  bottom: 0;
  left: 0;
  margin: 10px;
  padding: 5px;
  width: 300px;
  background-color: $wrapperBgColor;
  border: 3px solid $borderColor;
  border-radius: 5px;

  &--top-left {
    top: 0;
    left: 0;
  }

  &--bottom-center {
    bottom: 0;
    margin: 10px auto;
  }

  &--center-of-site {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    margin: 10px;
    color: $mainBrightColor;
  }

  &__close-btn {
    background-color: $hoverColor;
  }
}