@import 'universal-styles/colors';

nav {
  position: absolute;
  display: flex;
  width: 100%;
  top: -72px;
  background-color: $navbarBgColor;
  box-shadow: 0px 0px 5px $borderColor;

}

nav.show-navbar{
  position: static;
  top: 0px;
}

.menu-links {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  list-style: none;
  width: 100%;
}